/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: black;
  font-size: 15px;
  font-weight: 600;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
nav ul a {
  padding: 5px;
  border-radius: 2px;
  background-color: yellow;
  color: black;
  text-decoration: none;
}
.title {
  text-align: center;
  color: yellow;
}
h1 {
  color: yellow;
}

form {
  color: yellow;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  border-radius: 5px;
  max-width: 600px;
  margin: 5px auto;
  display: block;
}

button:hover {
  background-color: #005f5f;
}

#templateOutput {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 16px;
}
#eosEmailOutput {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 16px;
}

.recipient {
  color: black;
  font-weight: bold;
}

.shiftDetails {
  color: black;
  font-weight: bold;
}

.clientName {
  color: rgb(0, 81, 255);
  font-size: 20px;
  font-weight: bold;
}

.addressAndTravelTime {
  color: black;
  background-color: yellow;
  font-weight: bold;
}

.notes {
  color: black;
  /* background-color: red; */
  font-weight: bold;
}

.fillInDates {
  color: black;
  background-color: yellow;
  font-weight: bold;
}

.time {
  color: black;
  background-color: yellow;
  font-weight: bold;
}

.caseManager {
  color: black;
  font-weight: bold;
}
.important {
  background-color: yellow;
}
.confirm {
  color: red;
  font-weight: bold;
}
.n {
  background-color: rgb(39, 199, 221);
}
.clear {
  color: #008cba;
}
.copyButton {
  margin: auto;
  width: 250px;
  text-align: center;
  font-weight: bold;
  background-color: yellow;
  color: black;
}
.imp {
  background-color: rgb(235, 116, 235);
}
.blue {
  color: blue;
}
